.wpp-post-title {
	
}
IMG.wpp-thumbnail {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.wpp-excerpt {
	
}
.post-stats {
	FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.wpp-comments {
	
}
.wpp-views {
	
}
.wpp-author {
	FONT-STYLE: italic
}
.wpp-date {
	
}
.wpp-rating {
	
}
